{% extends "common/common_list.html" %}

{% block h1 %}To Buy{% endblock %}

{% block top_buttons %}
    <a href="{% url 'add_tobuy' %}"><button>Add To Buy Item</button></a>
    <a href="{% url 'buying_mode' %}"><button>Go Buying Mode</button></a>
{% endblock %}

{% block thead %}
    <tr>
        <td>Product</td>
        <td>Cost</td>
        <td>Per kg</td>
        <td>weight</td>
        <td>Shop</td>
        <td>Creator</td>
        <td></td>
    </tr>
{% endblock %}

{% block tbody %}
    {% for tobuy in tobuys %}
        <tr>
        <td>{{ tobuy.product }}</td>
        <td>{{ tobuy.cost }}</td>
        <td>{{ tobuy.product.per_kg }}</td>
        <td>{{ tobuy.weight }}</td>
        <td>{{ tobuy.shop }}</td>
        <td>{{ tobuy.creator }}</td>
        <td><a href="{% url 'edit_tobuy' pk=tobuy.pk %}"><button>Edit</button></a></td>
        <td><a href="{% url 'delete_tobuy' pk=tobuy.pk %}"><button>Delete</button></a></td>
        </tr>
    {% endfor %}
{% endblock %}
